
@import 'variables';

  .title-container {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    background-color: $primaryColor;
    margin-bottom: 40px;
  }

  .title {
    color: #fff;
    font-size: 18px;
  }


