
@import 'variables';

  .title-container {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    background-color: $primaryColor;
    margin-bottom: 40px;
  }

  .title {
    margin-left: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    top: 1px;
  }


