<h1 mat-dialog-title>Join game</h1>

<form class="max-container-width" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">

  <mat-form-field [formGroup]=formGroup>
    <input type="text" matInput placeholder="Your name" formControlName="userName">
  </mat-form-field>

  <mat-form-field *ngIf="data.isPasswordProtected" [formGroup]=formGroup>
    <input type="password" matInput placeholder="Game password" formControlName="gamePassword"
      autocomplete="new-password">
  </mat-form-field>

  <app-team-select [formGroup]=formGroup [game]=data></app-team-select>


  <div class="buttons-container">


    <button type="submit" [disabled]="isSubmitButtonDisabled() == true" mat-raised-button color="primary"
      cdkFocusInitial>Join game</button>

    <button type="button" mat-stroked-button (click)="onCancel()">Cancel</button>

  </div>

</form>