<h1 mat-dialog-title>Join game</h1>

<form class="max-container-width" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">


  <div class="secondary-title">
    Your name
  </div>

  <mat-form-field [formGroup]=formGroup>
    <input type="text" matInput formControlName="userName" [maxlength]="getMaxUserNameLength()" class="text-center">
  </mat-form-field>

  <!-- <mat-form-field *ngIf="data.isPasswordProtected" [formGroup]=formGroup>
    <input type="password" matInput placeholder="Game password" formControlName="gamePassword"
      autocomplete="new-password">
  </mat-form-field> -->

  <app-team-select [formGroup]=formGroup [game]=data></app-team-select>


  <div class="buttons-container">


    <button type="submit" [disabled]="isSubmitButtonDisabled() == true" mat-raised-button color="primary"
      cdkFocusInitial>Start game</button>

    <button type="button" mat-button (click)="onCancel()">Cancel</button>

  </div>

</form>