@import 'variables';

.play-container{

  margin-top: 40px;

  .options-container{
    
    margin:13px auto 0 auto;
    width: 530px;

    .options-buttons{
      text-align: right;

      button:not(:nth-child(1)){
        margin-left:3px;
      }
    }
  }

  .turn-info{
    font-size:30px;
    font-weight: bold;
    margin: 15px 0 30px;

    .green{
      -webkit-text-fill-color: $successColor;
      -webkit-text-stroke-color: #555;
      -webkit-text-stroke-width: 1px;
    }

    .red{
      -webkit-text-fill-color: $errorColor;
      -webkit-text-stroke-color: #555;
      -webkit-text-stroke-width: 1px;
    }

    .turn-info-details{
      font-size: 15px;
      font-weight: bold;
      color: $secondaryColor;
      margin-top: 10px;

    }
  }

}