<div *ngIf="!gameStatus">
  <br>
  <br>
  <br>
  <app-loader></app-loader>
</div>

<div *ngIf="gameStatus" class="play-container">

  <div class="game-container">
    <div class="wrapper">

      <div class="text-center turn-info">

        <div *ngIf="isGameOver()">
          <div *ngIf="amITheWinner()" class="green">YOU WIN!</div>
          <div *ngIf="!amITheWinner()" class="red">YOU LOSE</div>
        </div>
        <div *ngIf="!isGameOver()">
          <div *ngIf="isMyTurn()" class="green">
            <div>Your turn!</div>
            <div class="turn-info-details">
              <ng-container *ngIf="amICatsPlayer()">
                select a cat piece and move it
              </ng-container>
              <ng-container *ngIf="!amICatsPlayer()">
                move the mouse piece
              </ng-container>
            </div>
          </div>
          <div *ngIf="!isMyTurn()" class="red">
            <div>Their turn</div>
            <div class="turn-info-details">{{getEnemyPlayer().name}} is thinking...</div>
          </div>
        </div>

      </div>
    </div>


    <div class="game-board">

      <ng-container *ngFor="let rowIndex of [0,1,2,3,4,5,6,7]">
        <app-chess-box *ngFor="let columnIndex of [0,1,2,3,4,5,6,7]" [chessBox]="chessBoard[rowIndex][columnIndex]"
          [chessBoxCurrentlySelected]="chessBoxCurrentlySelected" (click)="onChessBoxClicked(rowIndex,columnIndex)">
        </app-chess-box>
      </ng-container>

    </div>

  </div>

  <div class="options-container">

    <div class="mini-wrapper">

      <div class="options-buttons">
        <button mat-button (click)=openHowToPlayDialog()><i class="far fa-question-circle"></i> how to play</button>
        <button mat-button color="warn" (click)=openExitGameDialog()><i class="fas fa-sign-out-alt"></i> exit game</button>
      </div>

      <app-chat></app-chat>
    </div>
  </div>



</div>