/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';



.mat-toolbar.mat-primary,
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
  background-color: $primaryColor;
}

body {
  margin: 0;
}

* {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.primary{
  color: $primaryColor;
}

.secondary{
  color: $secondaryColor;
}

.full-width {
  width: 100%;
}

h1, .mat-dialog-title{
  text-align:center;
  margin: 50px 0 !important;
  font-size: 1.69em;
  color: $primaryColor;
}

.mat-dialog-content{
  padding-bottom:20px !important;
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify{
  text-align: justify
}

.mat-form-field {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.green {
  color: $successColor;
}

.red {
  color: $errorColor;
}


.bg-green {
  background-color: $successColor;
}

.wrapper{
  padding: 0 35px;
}

.mini-wrapper{
  padding: 0 15px;
}

.buttons-container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    button{
      margin-top: 15px;
    }
}

.max-container-width{
  max-width: 400px;
  margin: 0 auto;
}

//Notification Service

.mat-snack-bar-container {
  color: white;
  min-width: 270px !important;

  .mat-simple-snackbar {
    justify-content: center;
    font-weight: bold;
  }

  &.success {
    background-color: $successColor;
  }

  &.error {
    background-color: $errorColor;
  }

  &.warning {
    background-color: $warnColor;
  }

  &.info {
    background-color: $infoColor;
  }
}


.box-shadow{
  -moz-box-shadow: inset 0 0 10px #311B0B;
  -webkit-box-shadow: inset 0 0 10px #311B0B;
  box-shadow: inset 0 0 10px #311B0B;
}

//Chess board (needs to be global) //todo! I think I can move this back to the components.
.game-board {

  width: 480px;
  height: 480px;
    margin: 0 auto;
    border: 25px solid #803e04;
    border-radius: 10px;
    box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), 
                inset 1px -1px 7px rgba(0,0,0,.2), 
                1px 12px 5px rgba(0,0,0,.4), 
                4px 3px 8px rgba(0,0,0,.4), 
                5px 10px 10px rgba(0,0,0,.2), 
                -5px 10px 10px rgba(0,0,0,.4);

  .box {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    cursor: default;
  
    &.white {
      background-color: #ffce9e;
    }
  
    &.black {
      background-color: #d18b47;
    }
  
    &.box-with-figure-can-be-selected {
      @extend .box-shadow;
      background-color: white;
      cursor: pointer;
    }
  
    &.box-with-figure-is-selected {
      @extend .box-shadow;
      background-color: #2e8b57;
      cursor: pointer;
      
    }
  
    &.box-can-be-new-figure-position {
      @extend .box-shadow;
      background-color: orange;
      cursor: pointer;
    }

    .figure-icon{
      &.black {
        color: #333;
      }
      
      &.white{
        color: #eee;
      }
    }
  }

}

@media only screen and (max-width: 570px) {
    
  .game-board {
       width: 320px;
       height: 320px;
       border-width: 13px;

       .box {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 29px;
        font-weight: normal;
    }
   }
  
}


@media only screen and (min-width: 900px) {
  .play-container{
    display:flex;
    flex-wrap: nowrap;

    .game-container{
      width: 65%;
    }

    .options-container{
      width: 35%;
      margin-top:0;
    }

    .chat{
       .chat-history{
          max-height: 503px !important;
       }
    }
  }
}



