/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primaryColor: #3a5bb2;
$successColor: #43A047;
$errorColor: #f55f5f;
$warnColor: #ecb13b;
$infoColor: #39befe;

body {
  margin: 0;
}

* {
  font-family: Roboto, sans-serif;
}

h1 {
  margin: 25px 0 40px;
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.header-container {
  display: flex;
  align-items: baseline;

  .flex-auto {
    flex: auto;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mat-form-field {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.green {
  color: $successColor;
}

.red {
  color: $errorColor;
}

.bg-green {
  background-color: $successColor;
}


//Notification Service

.mat-snack-bar-container {
  color: white;
  min-width: 270px !important;

  .mat-simple-snackbar {
    justify-content: center;
    font-weight: bold;
  }

  &.success {
    background-color: $successColor;
  }

  &.error {
    background-color: $errorColor;
  }

  &.warning {
    background-color: $warnColor;
  }

  &.info {
    background-color: $infoColor;
  }
}


//Chess board (needs to be global) //todo! I think I can move this back to the components.
.wrapper {
  border: 25px solid #462921;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.5fr repeat(8, 1fr) 0.5fr;
  grid-auto-flow: row;
}

.wrapper-inner {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}

.box {
  /*padding: 20px;*/
  height: 100%;
  text-align: center;
  cursor: default;

  &.white {
    background-color: #b5915f;
  }

  &.black {
    background-color: #441a03;
  }

  &.box-with-figure-can-be-selected {
    background-color: blue;
    cursor: pointer;
  }

  &.box-with-figure-is-selected {
    background-color: green;
    cursor: pointer;
  }

  &.box-can-be-new-figure-position {
    background-color: orange;
    cursor: pointer;
  }
}

.box-inner {
  text-align: center;
  align-self: center;
  font-size: small;
}

.top,
.bottom {
  display: grid;
  align-items: stretch;
  background-color: #7d694c;
}

.top {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}

.bottom {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 10;
}
