.teams-container{

    display:flex;
    align-items: center;
    justify-content: center;


    .team-box{
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;

        &:hover{
            background-color: #ccc;
        }

        .image{

        }
        .name{

        }
    }

}