<b class="secondary">Select a team</b>

<div class="teams-container">

  <div class="team-box" 
  (click)="selectMyTeam(teamEnum.Cats)" 
  [class.selected]="isMyTeamSelected(teamEnum.Cats)" 
  [class.clickable]="canSelectTeam()"
  [class.opponent]="isOpponentTeamSelected(teamEnum.Cats)">
    <div class="image">CATS</div>
    <div class="name secondary">{{getTeamName(teamEnum.Cats)}}</div>
  </div>

  <div>VS</div>

  <div class="team-box" 
  (click)="selectMyTeam(teamEnum.Mouse)" 
  [class.selected]="isMyTeamSelected(teamEnum.Mouse)" 
  [class.clickable]="canSelectTeam()"
  [class.opponent]="isOpponentTeamSelected(teamEnum.Mouse)">
    <div class="image">MOUSE</div>
    <div class="name secondary">{{getTeamName(teamEnum.Mouse)}}</div>
  </div>
  
</div>