
@import 'variables';

.teams-container{

    display:flex;
    align-items: center;
    justify-content: center;


    .team-box{
        border: 3px solid #aaa;
        padding: 10px;
        text-align: center;
        border-radius: 5px;

        &:hover{
            background-color: #ddd;
        }

        &.selected{
            border-color: $successColor;
        }

        &.opponent{
            border-color:$errorColor;
        }

        .image{

        }
        .name{

        }
    }

}