<h1 mat-dialog-title>How to play</h1>

<div class="max-container-width text-justify">
  <p>
    Mouse and cats is played on a chess board.
    <br>
    <b>Five pieces are used, one white to represent the mouse and four black
      to represent cats.
    </b>
  </p>

  <p>
    <b>Both the mouse and cats move diagonally, always on the black squares, but cats cannot move
      backwards, while the mouse can do so.</b>
  </p>

  <p>
    At the start of the game, cats are placed on the black squares in the last row of the board and the mouse is placed
    on
    one of the black squares in the first row.
  </p>

  <p>
    <b>The goal of the mouse is to reach the last row of the board and that of the
      cats is to corner the mouse, until leaving it without being able to make any movement.</b>
  </p>

</div>

<br>
<br>
<div class="text-center">
  <button type="button" mat-raised-button color="primary" (click)="onClose()" cdkFocusInitial>Close</button>
</div>