
  <div class="chat">

    <div class="chat-history" #scrollMe [scrollTop]="scrollMe.scrollHeight">

      <div class="chat-line" *ngFor="let chatLine of chatLines">
        <b class="small"
           [class.black]="chatLine.teamId == teamEnum.Cats"
           [class.brown]="chatLine.teamId == teamEnum.Mouse">{{chatLine.userName}}</b>
        <br />
        {{chatLine.message}}
      </div>

    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="false" class="chat-form">
      <mat-form-field [formGroup]=formGroup>
        <input type="text" matInput placeholder="Send a message..." formControlName="message">
      </mat-form-field>

      <button type="submit" [disabled]="isSubmitButtonDisabled() == true" mat-raised-button color="primary" cdkFocusInitial>
        Send
      </button>
    </form>

  </div>
