<div class="chat">

  <b class="chat-box-title">Chat box</b>

  <div *ngIf="chatLines.length" class="chat-history" #scrollMe [scrollTop]="scrollMe.scrollHeight">

    <div *ngFor="let chatLine of chatLines" class="chat-line" [class.text-right]="chatLine.teamId == teamEnum.Mouse">
      <!-- <b class="small"
           [class.black]="chatLine.teamId == teamEnum.Cats"
           [class.white]="chatLine.teamId == teamEnum.Mouse">{{chatLine.userName}}</b> -->

      <b [class.black]="chatLine.teamId == teamEnum.Cats" [class.white]="chatLine.teamId == teamEnum.Mouse">
        {{chatLine.message}}
      </b>

    </div>

  </div>

  <form *ngIf="canSendMessages" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="false" class="chat-form">
    <mat-form-field [formGroup]=formGroup >
      <input type="text" matInput placeholder="Send a message..." formControlName="message" autocomplete="false">
    </mat-form-field>

    <button class="send-message-button" type="submit" [disabled]="isSubmitButtonDisabled() == true" mat-raised-button
      color="primary" cdkFocusInitial>
      Send
    </button>
  </form>



</div>