@import 'variables';

.chat {
  margin-top: 25px;

  .chat-box-title{
    color: $primaryColor;
  }

  .chat-history {
    margin-top: 15px;
    max-height: 200px;
    overflow-y: scroll;

    .chat-line {
      margin: 0 15px 7px 0;

      .black {
        color: #333;
      }
  
      .white{
        color:#888;
      }

      .red{
        color: $errorColor !important;
      }
    }
  }

  .chat-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .send-message-button{
      margin-left:10px;
      width: 80px;
    }
  }
}
