.chat {
  margin-top: 25px;

  .chat-box-title{
    color: #994a05; //todo from variables
  }

  .chat-history {
    margin-top: 15px;
    max-height: 200px;
    overflow-y: scroll;

    .chat-line {
      margin-bottom: 10px;

      .black {
        color: #333;
      }
  
      .white{
        color:#aaa;
      }
    }
  }

  .chat-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .send-message-button{
      margin-left:10px;
    }
  }
}
