<ng-container *ngIf="!isGameCreated">

  <h1 mat-dialog-title>Create game</h1>

  <form class="max-container-width" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="secondary-title">
      Your name
    </div>

    <mat-form-field [formGroup]=formGroup>
      <input type="text" matInput formControlName="userName" [maxlength]="getMaxUserNameLength()" class="text-center">
    </mat-form-field>

    <!-- <mat-form-field [formGroup]=formGroup>
      <input type="password" matInput placeholder="Game password" formControlName="gamePassword"
        autocomplete="new-password">
      <mat-hint align="start">optional</mat-hint>
    </mat-form-field> -->

    <app-team-select [formGroup]=formGroup [game]=createdGame></app-team-select>

    <div class="buttons-container">

      <button type="submit" [disabled]="isSubmitButtonDisabled() == true" mat-raised-button color="primary"
        cdkFocusInitial>Create game</button>

      <button type="button" mat-button (click)="onCancel()">Cancel</button>

    </div>

  </form>

</ng-container>

<div *ngIf="isGameCreated" class="text-center">

  <h1 mat-dialog-title>Awaiting for another player</h1>

  <app-loader></app-loader>

  <br />
  <br />

  <div *ngIf="joinGameUrl">
    <p>
      <b class="secondary">Share this link to join your game</b>
    </p>

    <div class="copy-link-container" #container>
      <button mat-raised-button cdkFocusInitial color="primary" [class.link-copied]="isJoinGameLinkCopiedToClipboard"
        ngxClipboard [cbContent]="joinGameUrl" [container]="container" (click)="onCopyLinkClick()">
        <span *ngIf="!isJoinGameLinkCopiedToClipboard">Copy link</span>
        <span *ngIf="isJoinGameLinkCopiedToClipboard">Copied!</span>
      </button>
    </div>
  </div>

  <button type="button" mat-button (click)="onCancelGame()">Cancel</button>

</div>